[submodule "home/.zsh/plugins/zsh-history-substring-search"]
	path = home/.zsh/plugins/zsh-history-substring-search
	url = https://github.com/zsh-users/zsh-history-substring-search
[submodule "home/.zsh/plugins/zsh-syntax-highlighting"]
	path = home/.zsh/plugins/zsh-syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting
[submodule "home/.zsh/plugins/auto-fu.zsh"]
	path = home/.zsh/plugins/auto-fu.zsh
	url = https://github.com/hchbaw/auto-fu.zsh
[submodule "home/.zsh/plugins/zsh-completions"]
	path = home/.zsh/plugins/zsh-completions
	url = https://github.com/zsh-users/zsh-completions
[submodule "home/.zsh/plugins/zsh-vcs-prompt"]
	path = home/.zsh/plugins/zsh-vcs-prompt
	url = git://github.com/yonchu/zsh-vcs-prompt.git
[submodule "home/.zsh/plugins/envirius"]
	path = home/.zsh/plugins/envirius
	url = https://github.com/ekalinin/envirius
[submodule "home/.config/awesome/lib/blingbling"]
	path = home/.config/awesome/lib/blingbling
	url = git://github.com/cedlemo/blingbling.git
[submodule "home/.config/awesome/blingbling"]
	path = home/.config/awesome/blingbling
	url = git://github.com/cedlemo/blingbling.git
[submodule "home/.config/awesome/hints"]
	path = home/.config/awesome/hints
	url = https://github.com/zackpete/hints
[submodule "home/.config/awesome/awesome-redshift"]
	path = home/.config/awesome/awesome-redshift
	url = git://github.com/YoRyan/awesome-redshift.git
[submodule "home/.config/awesome/obvious"]
	path = home/.config/awesome/obvious
	url = https://github.com/hoelzro/obvious
[submodule "home/.config/awesome/vicious"]
	path = home/.config/awesome/vicious
	url = http://git.sysphere.org/vicious
[submodule "home/.zsh/plugins/opp.zsh"]
	path = home/.zsh/plugins/opp.zsh
	url = https://github.com/hchbaw/opp.zsh
[submodule "home/.config/awesome/luaimap"]
	path = home/.config/awesome/luaimap
	url = https://gitorious.org/luaimap/luaimap4.git
