[submodule "home/.zsh/plugins/zsh-history-substring-search"]
	path = home/.zsh/plugins/zsh-history-substring-search
	url = https://github.com/zsh-users/zsh-history-substring-search
[submodule "home/.zsh/plugins/zsh-syntax-highlighting"]
	path = home/.zsh/plugins/zsh-syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting
[submodule "home/.zsh/plugins/auto-fu.zsh"]
	path = home/.zsh/plugins/auto-fu.zsh
	url = https://github.com/hchbaw/auto-fu.zsh
[submodule "home/.zsh/plugins/zsh-completions"]
	path = home/.zsh/plugins/zsh-completions
	url = https://github.com/zsh-users/zsh-completions
[submodule "home/.zsh/plugins/zsh-vcs-prompt"]
	path = home/.zsh/plugins/zsh-vcs-prompt
	url = git://github.com/yonchu/zsh-vcs-prompt.git
