! Colors - also see scripts/xcolor for switching
! #include "/home/zack/.xcolours/solarized.xcolours"

URxvt.perl-lib: ~/.urxvt/urxvt-perls/
URxvt.perl-ext-common: default,matcher
URxvt.url-launcher: /usr/bin/firefox
URxvt.matcher.button: 1

! Fonts
Xft.antialias:  true
Xft.hinting:    true
Xft.rgba:       rgb
Xft.hintstyle:  hintfull

urxvt.font:  xft:Source Code Pro Black:size=8

URxvt.scrollBar:  false
URxvt.jumpScroll: true
URxvt.skipScroll: true
URxvt.saveLines:  64000
URxvt.visualBell: false
URxvt*urgentOnBell: true

URxvt.depth:       24
URxvt.buffered:    true
URxvt.foreground:  #f0f0f0
URxvt.background:  #000000
URxvt.transparent: false
URxvt.shading:     100

URxvt.intensityStyles: true
URxvt.termName:        rxvt-unicode-256color
URxvt.urgentOnBell:    true

URxvt*cursorBlink:     true

URxvt.url-select.launcher: firefox
URxvt.url-select.underline: true
URxvt.keysym.M-A: perl:keyboard-select:activate
