snippet initdoc
        #lang scribble/base
        @(require 
          "../ZackScribLib.rkt"
          2htdp/image
        )
        @title{`split(bufname("%"), "\v*[0-9].\.scrbl")[0]`}
        @author{Zack Piper}
        ${3:DOCUMENT}
