"*":
  "autocomplete-plus": {}
  core:
    disabledPackages: [
      "background-tips"
    ]
    themes: [
      "solarized-dark-ui"
      "solarized-dark-syntax"
    ]
  editor:
    fontSize: 12
    invisibles: {}
    showIndentGuide: true
    showInvisibles: true
  "exception-reporting":
    userId: "d6a6a0eb-61e4-8042-024d-5df028948645"
  linter:
    lintDebug: true
    showStatusBarWhenCursorIsInErrorRange: true
  "linter-clojure":
    clojureExecutablePath: "/home/zack/clojure-1.6.0.jar"
    javaExecutablePath: "/usr/bin/java"
  "linter-coffeelint":
    coffeelintExecutablePath: "/usr/bin/"
  "linter-csslint":
    csslintExecutablePath: "/usr/bin/"
  "linter-jshint":
    jshintExecutablePath: "/usr/bin"
  metrics:
    userId: "4cd2409d-c082-4855-8bf5-c0c4263458ad"
  "tree-view": {}
  welcome:
    showOnStartup: false
