// Make scrollbars invisible.
::-webkit-scrollbar {
  visibility: hidden;
}

::-webkit-scrollbar-track {
  visibility: hidden;
}

::-webkit-scrollbar-thumb {
  visibility: hidden;
}

::-webkit-scrollbar-thumb:hover {
  visibility: hidden;
}

atom-text-editor::shadow .type.class.todo {
  background-color: darkred;
  border: 2;
  border-color: yellow;
  border-style: groove;;
  color: white;
  font-style: normal;
}
